.generator-menu .wavebar{
    width: 90px;
    
}
.generator-menu p{

}

.wave {
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:24px;
    padding-top:25px;
    padding-bottom:25px;
    
  }
  /* */
  
  
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
  }